.card{
    height: 6.25rem;
    width: 50%;

    background: #695E93;
    color: #FFF;

    border-radius: 10px;
    margin-bottom: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem;
}

.card strong{
    font-size: 1.125rem;
}